body{
    margin: 5px;
    height:1200px;
    box-sizing: border-box;
        
}
body{

    direction: rtl;
    
}
 p{
    background-color: bisque;
    width: 100%;
    order: 3;
    color: brown;
    text-align: justify;
    padding: 10px;
}
.main {
display: inline-block;

}





   


